.loader-bg img{
    animation: loaderbar 1s infinite;
}
@keyframes loaderbar {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loadScreen{
  display: flex;
  justify-content: center;
  height: 50vw;
  align-items: center;
}
