.active-session {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    /* margin-top: 1rem; */
  }
  .session-row{
    border: solid 1px var(--extra-color);
    padding: 10px;
    border-radius: 10px;
    gap: 50px;
  }
  .session-info{
    display:flex ;
    gap: 40px;
  }
  .session-info p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-wrap: nowrap;
    text-align: center;
  }
 .game-name-btn{
    width: 250px;
    background: var(--primary-color);
    border: solid 1px var(--secondary-color);
    padding:10px 5px ;
    color: white;
    border-radius: 10px;
    filter: drop-shadow(2px 8px 1px var(--primary-color));
    cursor: pointer;
    transition: 0.1s;
 }
 
 .game-name-btn:active{
  filter: drop-shadow(0px 0px 1px rgb(94, 48, 6));
  transform: translateX(2px) translateY(8px);
 }
  .session-controls{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    flex-direction: column;
    padding: 10px;
    width: 350px;
  }
.controls-heading{
  color: var(--secondary-color);
}
  .end-btn{
    background-color: rgb(255, 81, 81);
    border: none;
    padding: 4%;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
  }
  .end-btn:hover{
    transform: scale(1.05);
  }
  .end-btn:active{
    transform: scale(0.8);
  }
  .game-btn{
    margin: 2%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
  }
  .game-btn:hover{
    transform: scale(1.1);
  }
  .game-btn:active{
    transform: scale(0.7);
  }
  .play-btn{
    color: rgb(2, 160, 2);
  }
  .stop-btn{
    color: rgb(204, 23, 23);
  }




  