.active-session {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    margin-top: 1rem;
  }
  .active-session table{
    width: 100%;
    text-align: center;
  }
  .active-session table tbody tr{
    background-color: var(--extra-color);
  }
  .active-session table tbody tr td{
    padding: 1%;
  }
  .end-btn{
    background-color: rgb(255, 81, 81);
    border: none;
    padding: 4%;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
  }
  .end-btn:hover{
    transform: scale(1.05);
  }
  .end-btn:active{
    transform: scale(0.8);
  }
  .game-btn{
    margin: 2%;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
  }
  .game-btn:hover{
    transform: scale(1.1);
  }
  .game-btn:active{
    transform: scale(0.7);
  }
  .fa-circle-play{
    color: rgb(16, 151, 16);
  }
  .fa-circle-stop{
    color: rgb(204, 23, 23);
  }