.threeD-container-setting{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 450px;
    border-radius: 12px;
    background-color: aliceblue;
}
.three-d-btns-div-setting{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}
.setting-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 10px;
    max-width: fit-content;
    justify-self: center;
    margin: 120px;
}
.adjust-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select-points{
    display: flex;
    gap: 10px;
    margin: 4px;
}
.select-points button{
    border: solid 1px;
    border-radius: 10px;
}
@media (min-width: 300px) and (max-width: 1200px) and (orientation: portrait){
  .threeD-container-setting{
    width: 550px;
    height:500px;
  }
  .setting-container{
    height: 800px;
    flex-direction: column;
    overflow-y: scroll;
  }
}
.setting-headings{
    margin: 15px auto 5px auto;
}
.game-setting-controls{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.hand-sel button{
    background: none;
    border: solid 1px;
    margin: 10px;
    font-weight: 800;
    padding: 10px 15px;
    border-radius: 15px;
}
.setting-apply-btns{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.set-hand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apply-btn{
    background-color: var(--extra-color);
    border: none;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px;
    transition: 0.1s;
}
.previous{
    background-color: rgb(255, 208, 78);
}
.apply-btn:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
    cursor: pointer;
}
.apply-btn:active{
    transform: scale(1);
}
.hand-sel{
    display: flex;
    flex-direction: column;
}
.setting-btn{
    display: flex;
    width: 100%;
    gap: 10px;
}
.setting-btn button{
    width: 100%;
}