.visualizer{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.visualizer-heading{
    display: flex;
    gap: 100px;
    width: fit-content;
    background-color: white;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 50px;
    border: solid 0.5px var(--primary-color);
}
.visualizer-heading h2{
    font-weight: 500;
    font-size: 14px;
}
.visualizer-heading span{
    font-weight: 800;
}
.visual-data-div{
    width: 300px;
    padding: 50px;
    text-wrap: nowrap;
    
}
.visual-data-div h2{
    margin-bottom: 3%;
}
.visual-data-div hr{
    margin: 10% 0%;
}
.visual-data-div p{
    margin: 4%;
}
.visual-data-div img{
    width: 30px;
}
.performance-matrix{
    display: flex;
    gap: 2%;
    margin:2% 10%;
}
.physio-data-div{
    padding: 2%;
}